body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.verses {
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

.author-image {
    width: 500;
    height: 500;
    flex: 1;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}
