table {
    border-collapse: collapse;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: lightgray;
}

tr:hover {
    background-color: burlywood;
}
tr:active {
    background-color: #f5edd6;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

a:visited {
    color: purple;
}
a:active {
    color: rgb(0, 120, 10)
}