body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.verses {
    flex: 1;
    text-align: center;
    margin-right: 20px;
}

.author-image {
    flex: 1;
    text-align: center;
}